/* 加载页动画 */

/* 星星 */

@-webkit-keyframes a_glint2 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.8)
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(0.6)
    }
    100% {
        -webkit-transform: scale(0.8);
        opacity: 1
    }
}

@-webkit-keyframes a_glint3 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.6)
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(0.4)
    }
    100% {
        -webkit-transform: scale(0.6);
        opacity: 1
    }
}

@-webkit-keyframes a_fast {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(0.8);
        opacity: 0
    }
}

/* 星星结束 */

/* 人物  /文字 */

@-webkit-keyframes a_ld_text {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 2rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
}
/*// 光 */
@-webkit-keyframes a_ld_touying {
    0% {
        -webkit-transform: scale(0.8)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes a_ld_peo {
    0% {
        -webkit-transform: translate(0rem, -0.4rem)
    }
    100% {
        -webkit-transform: translate(0rem, 0.2rem)
    }
}

@-webkit-keyframes ld_peo_inner {
    100% {
        background-position: -4.9rem 0rem
    }
}

/* 页面一动画 */

/* 手势的移动 */

@-webkit-keyframes a1_hand {
    0% {
        -webkit-transform: translate(0, 0rem) rotate(20deg)
    }
    5% {
        -webkit-transform: translate(0, 0rem) rotate(20deg)
    }
    70% {
        -webkit-transform: translate(1.3rem, 9.1rem) rotate(-20deg)
    }
    100% {
        -webkit-transform: translate(1.3rem, 9.1rem) rotate(-20deg)
    }
}

/* 人物行走图片切换 */

@-webkit-keyframes a1_peo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -13.475rem 0rem
    }
}

@-webkit-keyframes a2_peo {
    100% {
        background-position: -12.25rem 0rem
    }
}

.p1_text {
    -webkit-animation: fadeIn 4s ease-out 0s both
}

@-webkit-keyframes a1_text {
    0% {
        opacity: 0
    }
    15% {
        opacity: 1
    }
    85% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/* 人物行走 三段路该谁走谁显示 */

@-webkit-keyframes a1_people_box {
    0% {
        -webkit-transform: translate(0, 0)
    }
    30% {
        -webkit-transform: translate(3.4rem, 1.8rem)
    }
    60% {
        -webkit-transform: translate(-1.2rem, 4.4rem)
    }
    100% {
        -webkit-transform: translate(6rem, 9rem)
    }
}

@-webkit-keyframes a1_people_right {
    0% {
        opacity: 1
    }
    1% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    31% {
        opacity: 0
    }
    60% {
        opacity: 0
    }
    61% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

/* 31%-61% 左走 */

@-webkit-keyframes a1_people_left {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    31% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    61% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/* 球阴影 */

@-webkit-keyframes a1_ball_box {
    0% {
        box-shadow: 0rem 0rem 0.1rem 0rem rgba(255, 255, 255, 0.3)
    }
    100% {
        box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(255, 255, 255, 0.3)
    }
}

/* 方块出现 */

@-webkit-keyframes p1_box {
    0% {
        -webkit-transform: translate(0, 2.15rem);
        opacity: 0
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }
}

/* 三角旋转 */

@-webkit-keyframes a_rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

/* 背景动画 */

@-webkit-keyframes a_boxshadow {
    0% {
        box-shadow: 0rem 0rem 0rem 0 rgba(15, 178, 106, 0)
    }
    100% {
        box-shadow: 0rem 0rem 2rem 0rem #0fb26a
    }
}

/* 页面二动画=================================================== */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* 球阴影 */

@-webkit-keyframes a2_ball_box {
    0% {
        box-shadow: 0rem 0rem 0.1rem 0rem rgba(15, 179, 106, 0.8)
    }
    100% {
        box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(15, 179, 106, 0.8)
    }
}

/* 星空 */

@-webkit-keyframes a_glint {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(0.8)
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

/* 三只云 */

@-webkit-keyframes a_cloud {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    100% {
        -webkit-transform: translate(40rem, 0)
    }
}

/* 球框/月亮光芒 */

@-webkit-keyframes a_zoomtwo {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
    50% {
        -webkit-transform: scale(0.75);
        opacity: 0.8
    }
    90% {
        -webkit-transform: scale(1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
}

/* 汽车 */

@-webkit-keyframes a_yidong {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    70% {
        -webkit-transform: translate(30rem, 19rem)
    }
    100% {
        -webkit-transform: translate(30rem, 19rem)
    }
}

@-webkit-keyframes a_car {
    0% {
        -webkit-transform: translate(0, 0rem)
    }
    80% {
        -webkit-transform: translate(30rem, 16rem)
    }
    100% {
        -webkit-transform: translate(30rem, 16rem)
    }
}

/* 人物进场动画 */

@-webkit-keyframes a2_start {
    0% {
        -webkit-transform: translate(-5rem, 7rem)
    }
    95% {
        -webkit-transform: translate(0.15rem, -0.15rem);
        opacity: 1
    }
    98% {
        -webkit-transform: translate(0.15rem, -0.15rem);
        opacity: 0.3
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0.2rem, -0.2rem)
    }
}

/* 人物行走 */

@-webkit-keyframes p2_peo1 {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    61% {
        opacity: 0
    }
    75% {
        opacity: 0
    }
    76% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

/* 61%-75%向右走 显示 */

@-webkit-keyframes a2_peo2 {
    0% {
        opacity: 0
    }
    60% {
        opacity: 0
    }
    61% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    76% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

/* 人物行走位移 三段路 */

@-webkit-keyframes a2_people {
    0% {
        -webkit-transform: translate(0, 0)
    }
    60% {
        -webkit-transform: translate(13.5rem, -8.2rem)
    }
    75% {
        -webkit-transform: translate(10rem, -10.3rem)
    }
    100% {
        -webkit-transform: translate(15rem, -13.2rem)
    }
}

/* 页面三动画================================== */

/* 进场动画 */

@-webkit-keyframes a3_speo1 {
    0% {
        -webkit-transform: translate(-3rem, 4rem)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0)
    }
}

/* 流星 */

@-webkit-keyframes a_liux1 {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    70% {
        -webkit-transform: translate(25rem, 10rem)
    }
    100% {
        -webkit-transform: translate(25rem, 10rem)
    }
}

@-webkit-keyframes a_liux {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    70% {
        -webkit-transform: translate(25rem, 14rem)
    }
    100% {
        -webkit-transform: translate(25rem, 14rem)
    }
}

/* 窗口灯光闪烁 */

@-webkit-keyframes a_lit {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    51% {
        opacity: 1
    }
    52% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes a_lit1 {
    0% {
        opacity: 1
    }
    1% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    51% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

/* 路灯光 */

@-webkit-keyframes a3_light {
    0% {
        -webkit-transform: scale(1);
        opacity: 1
    }
    100% {
        opacity: 0.7;
        -webkit-transform: scale(0.9)
    }
}

/* 行走 */

@-webkit-keyframes a_down {
    0% {
        -webkit-transform: translate(0, 0rem)
    }
    100% {
        -webkit-transform: translate(17rem, -8rem)
    }
}

/* 页面四动画=========================================== */

/* 云彩 */

@-webkit-keyframes a_cloud {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    100% {
        -webkit-transform: translate(40rem, 0)
    }
}

/* 房子出现*/

@-webkit-keyframes a_house {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

/* 开门旋转 */

@-webkit-keyframes leftDoor {
    0% {
        -webkit-transform: perspective(0) rotateY(0);
        -webkit-transform-origin: 0% 50%
    }
    100% {
        -webkit-transform: perspective(10rem) rotateY(70deg);
        -webkit-transform-origin: 0% 50%
    }
}

/* 开门球移动 */

@-webkit-keyframes a4_balone {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    100% {
        -webkit-transform: translate(-0.8rem, 0rem)
    }
}

@-webkit-keyframes a5_start_ball {
    0% {
        -webkit-transform: traslate(0, 0)
    }
    20% {
        -webkit-transform: translate(4.7rem, -0.4rem)
    }
    83% {
        opacity: 1;
        -webkit-transform: translate(4.7rem, -0.4rem)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(4.7rem, -0.4rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(4.7rem, -0.4rem)
    }
}

/* 梯子 */

@-webkit-keyframes a_stair {
    0% {
        height: 0rem
    }
    100% {
        height: 16.1rem
    }
}

/* 行走 */

@-webkit-keyframes a4_peo {
    0% {
        -webkit-transform: translate(0rem, 0rem)
    }
    40% {
        -webkit-transform: translate(4.5rem, -2rem)
    }
    90% {
        -webkit-transform: translate(4.5rem, -9.1rem)
    }
    100% {
        -webkit-transform: translate(5.3rem, -9.3rem)
    }
}

/* 右走 */

@-webkit-keyframes a4_peo1 {
    0% {
        opacity: 0
    }
    1% {
        opacity: 1
    }
    39% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    98% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/* 上走 */

@-webkit-keyframes a4_peo2 {
    0% {
        opacity: 0
    }
    39% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    89% {
        opacity: 1
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

/* 开场行走 */

@-webkit-keyframes a4_speo {
    0% {
        -webkit-transform: translate(-5rem, 5rem)
    }
    30% {
        -webkit-transform: translate(-3rem, 3.7rem)
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0rem, 0rem)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0rem, 0rem)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* 页面五========================================================== */

/* 房子变化 */

@-webkit-keyframes logoInUp {
    0% {
        -webkit-transform: translate(0rem, 0rem) scale(1.7)
    }
    100% {
        -webkit-transform: translate(0, -5rem) scale(0.8)
    }
}

/* 线条1 */

@-webkit-keyframes a1_lt1 {
    0% {
        -webkit-transform: translate(0, 1.7rem)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

/* 线条2 */

@-webkit-keyframes a1_lt2 {
    0% {
        -webkit-transform: translate(3.3rem, 0rem)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

/* 线条3 */

@-webkit-keyframes a1_lt3 {
    0% {
        -webkit-transform: translate(3.28rem, 0rem)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

/* 线条4 */

@-webkit-keyframes a1_lt4 {
    0% {
        -webkit-transform: translate(0rem, -3.7rem)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

/* 线条5 */

@-webkit-keyframes a1_lt5 {
    0% {
        -webkit-transform: translate(-5.4rem, 0rem)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}

/* 线条6 */

@-webkit-keyframes a1_lt6 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0rem, 1rem)
    }
    1% {
        opacity: 1;
        -webkit-transform: translate(0rem, 1rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
}

/* 点击/ 在看来时路 */

@-webkit-keyframes textInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1rem, 0rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
}

/* 分享寻家路 */

@-webkit-keyframes textInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(1rem, 0rem)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
}